<nav class="navbar navbar-expand-lg navbar-light  p-4 fixed-top shadow " style="background-color: #233862;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-bus mx-2"></i> Orange Bus</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto px-5">
        <li class="nav-item">
          <div class="dropdown">
            <a class="dropdownlink dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-regular fa-user"></i> Account
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 bg-img">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 p-3 shadow searchbar ">
            <div class="row">
              <div class="col-md-3   col-sm-6">
               <div class="input-box1">
                  <label for="inputGroupSelect01" class="form-label">From Place</label>
                <select class="form-select" [(ngModel)]="model.FromPlace" id="inputGroupSelect01">
                    @for (option of LocationDetails; track option.LocationCode) {
                    <option [value]="option.LocationCode">{{ option.LocationName }}</option>
                    }
                  </select>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
               <div class="input-box1">
                  <label for="inputGroupSelect02" class="form-label">To Place</label>
                  <select class="form-select" [(ngModel)]="model.Toplace" id="inputGroupSelect02">
                    @for (option of LocationDetails; track option.LocationCode) {
                    <option [value]="option.LocationCode">{{ option.LocationName }}</option>
                    }
                  </select>
                </div>
              </div>
              <div class="col-md-3  col-sm-6">
                <div class="input-box1">
                  <label for="exampleFormControlInput1" class="form-label">Departure date</label>
                  <input type="date" [(ngModel)]="model.DepartureDate" [min]="currentDate" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
              </div>
              <div class="col-md-3 search-box  col-sm-6">
                <button class="button" (click)="SearchBus()">SEARCH BUSES</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>