.navbar-brand{
    background-color: #ED7D2B !important;
    border-radius: 5px !important;
    font-weight: 500 !important;
    color: #fff !important;
    font-size: 15px !important;
    padding:  10px ;
}
h6{
    font-weight: 400;
}
button{
    background-color: #ED7D2B;
    color: #fff;
    border: none;
    padding: 10px !important;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 2px !important;
}
