<nav class="navbar navbar-expand-lg navbar-light  p-3 fixed-top shadow " style="background-color: #233862;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-bus mx-2"></i> Orange Bus</a>
  </div>
</nav>

<div class="container" style="margin-top: 120px;">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-md-10 d-flex align-items-center justify-content-center flex-column" *ngIf="IsShow">
        <img src="../assets/Bus driver.gif" class="img-fluid img" alt="">
        <h4>No <span>Orange</span> Bus is <span>Available</span>  at this  moment</h4>
      </div>
  <div class="col-md-10  card  p-3 shadow mb-3" *ngFor="let item of BookSearchDet">
<div class="row align-items-center">
  <div class="col-12 col-md-3">
    <h5>{{ item.BusName }}</h5>
    <span>
      <img width="32" height="32" src="https://img.icons8.com/doodle/48/air-conditioner.png" alt="air-conditioner"/>
      AC Seater
    </span>
  </div>

  <div class="col-6 col-md-2">
    <h6 class="text-muted">Departure Time</h6>
    <span>
      <img width="32" height="32" src="https://img.icons8.com/bubbles/100/time-machine.png" alt="time-machine"/>
      {{ item.DepartureTime }}
    </span>
  </div>

  <div class="col-6 col-md-2">
    <h6 class="text-muted">Arrival Time</h6>
    <span>
      <img width="32" height="32" src="https://img.icons8.com/bubbles/100/clock.png" alt="clock"/>
      {{ item.ArrivalTime }}
    </span>
  </div>

  <div class="col-6 col-md-1">
    <h6 class="text-muted">Price</h6>
    <span>
      <img width="32" height="32" src="https://img.icons8.com/clouds/100/cash--v2.png" alt="cash--v2"/>
      {{ item.Price }}
    </span>
  </div>

  <div class="col-6 col-md-2">
    <h6 class="text-muted">Duration</h6>
    <span>
      <img width="32" height="32" src="https://img.icons8.com/external-coco-line-kalash/32/external-express-untact-economy-coco-line-kalash.png" alt="duration"/>
      7 hrs
    </span>
  </div>

  <div class="col-12 col-md-2 text-md-end">
    <button class=" button mt-2 mt-md-0" (click)="BusDetails(item)">View Seats</button>
  </div>
</div>



        </div>
    </div>
</div>

<div class="loading-overlay" *ngIf="Isloading">
   <img src="../assets/bus.gif" alt="">
</div>